/* <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" /> 
<link href="https://cdn.jsdelivr.net/gh/prgwrtr/GangwonEduFont/web/GangwonEduPower.css" rel="stylesheet">
head 안에 넣기 */


@charset "utf-8";
// @import url('variables'); 
@import url('../css/variables.css'); 
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonEduPower.woff2');

// Font Sizes
body {
   font-size: 16px;
}

// logo style
.desktop_logo {
    background-image: url('../images/desktop_logo.svg');
}
.tablet_logo {
    background-image: url('../images/tablet_logo.svg');
}
.mobile_logo {
    background-image: url('../images/mobile_logo.svg');
}

// header
